<?xml version="1.0"?>
<launch>


  <!-- TODO -->
  <!-- Load the joint state controller file in the namespace ns to the parameter server not yet working-->
  <!-- <rosparam command="load"
    file="$(find gripx_control)/config/kinova_joint_state.yaml"
    ns="gripx_joint_state_controller" /> -->

    <!-- Load the position controller file in the namespace ns to the parameter server-->
    <rosparam command="load"
      file="$(find gripx_control)/config/gripx_control.yaml"/>

      <!-- Load the controllers from ros -->
  <node name="gripx_controller_spawner" pkg="controller_manager" type="spawner" 
        args="arm_position_controller"/>
    <!-- Lad Rviz Config -->
    <arg name="gui" default="true" />
    <arg name="rvizconfig" default="$(find gripx_description)/rviz/urdf.rviz" />
        <!-- Launch Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

    
</launch>
