<?xml version="1.0"?>
<launch>
    <!-- Generate/Load robot description file -->
  <include file="$(find gripx_control)/launch/gripx_control.launch"/>



	<!-- does not make MoveIt/Gazebo use the fake controllers, it only makes sure that joint_state_publisher gathers the JointStates published on /move_group/fake_controller_joint_states and republishes them on /joint_states. -->
	<!-- https://answers.ros.org/question/252114/failed-to-validate-trajectory-couldnt-receive-full-current-joint-state-within-1s-error/ -->
<!-- 	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/gazebo]</rosparam>
  </node> -->


  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/joint_states]</rosparam>
  </node> -->


	<!-- Load the SRDF and other configuration files -->
  <include file="$(find gripx_moveit_config)/launch/planning_context.launch"/>

<!--    The planning and execution components of MoveIt! configured to 
   publish the current configuration of the robot (simulated or real) 
   and the current state of the world as seen by the planner -->
  <include file="$(find gripx_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>


  
<!--    The visualization component of MoveIt!-->  
<!-- <include file="$(find gripx_moveit_config)/launch/moveit_rviz.launch"/> -->

</launch>